<table>
    <thead>
    <tr>
      <td> TICKER </td>
      <td> NAME </td>
      <td> GROUP </td>
    </tr>
    </thead>
  <tbody>
{% for c in data.Co %}
    <tr>
      <td>{{ c.cd | e }}</td>
      <td>{{ c.nm | e }}</td>
      <td>{{ c.gb | e }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>



