<table>
    <thead>
    <tr>
      <td> Key </td>
      <td> Value </td>
    </tr>
    </thead>
  <tbody>
{% for c in data %}
    <tr>
      <td>{{ c.key | e }}</td>
      <td>{{ c.value | e }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>



