name: Update price daily

on:
  schedule:
    # Seoul 09:00 -> UTC 23:00
    - cron: "00 23 * * *"
  workflow_dispatch:
    inputs:
      tags:
        description: 'Activate Manually'
        required: true
        type: boolean

permissions:
  contents: write

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libxml2-dev libxslt-dev -y

    - uses: actions/setup-python@v5
      with:
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Install dependencies
      run: uv sync

    - name: Get Company List
      run: bash scripts/get_data_origin.sh

    - name: Get ETF Price KR
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: |
        uv run scripts/get_krx_price.py
        uv run scripts/get_nv_price.py

    - name: Get ETF Price US
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: uv run scripts/get_yh_price.py

    - name: Commit and push changes
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add output/
        git diff --staged --quiet || git commit -m "get new data & update"
        git push